<div class= "row">
  <div class="col-md-3">
    <h4>Character Classes</h4>
  </div>
</div>
<div class="container-fluid well">
  <% @character.character_classes.each do | char_class | %>
    <div class="row">
      <div class="col-md-2">
        Class Name: <%= char_class.class_name %>
      </div>
      <div class="col-md-2">
        Level: <%= best_in_place_if character_editable?(@character), char_class, :level, type: :input, :path => character_class_path %>
      </div>
    </div>
  <% end %>
</div>
