  <% if user_signed_in? %>
    <%= render "shared/character_list" %>
  <% else %>
    <strong><p>Clever creature!  You managed to find this page without being logged in.  But I can't do anything until you do.  So please either log in or sign up!!</p></strong>
  <% end %>
