<h4 class="notice-heading">
<%= "This is someone else's property (look, don't touch)..." unless character_editable?(@character) %></h4>
<%= render "core_attributes", locals: {character: @character} %>
<hr>
<%= render "abilities", locals: {character: @character, ability_scores: @ability_scores} %>
<hr>
<%= render "character_classes", locals: {character_classes: @character.character_classes} %>


