  /* GLOBAL STYLES
  -------------------------------------------------- */
  @font-face {
      font-family: 'Vecna';
      src: url('Vecna.otf');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
      font-family: 'Vecna';
      src: url('Vecna-Italic.otf');
      font-weight: normal;
      font-style: italic;
  }
  @font-face {
      font-family: 'Vecna';
      src: url('Vecna-Bold.otf');
      font-weight: bold;
      font-style: normal;
  }
  @font-face {
      font-family: 'Vecna';
      src: url('Vecna-BoldItalic.otf');
      font-weight: bold;
      font-style: italic;
  }

  * {
    font-family: Vecna, 'Lobster Two', 'Droid Serif', Georgia, serif;
  }

  /* Padding below the footer and lighter body text */
  body {
    padding-bottom: 40px;
    color: #5a5a5a;
  }

  div.container.spacer {
    margin-bottom: 100px;
  }

  .body-wrapper {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
  }


  /* CUSTOMIZE THE NAVBAR
  -------------------------------------------------- */

  /* Special class on .container surrounding .navbar, used for positioning it into place. */
  .navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
  }

  /* Flip around the padding for proper display in narrow viewports */
  .navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar .container {
    width: auto;
  }


  /* license
  ------------------------- */

  .license-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
  }

  /* Border for form
  ------------------------- */
  .form-border {
    border: 1px solid #D4D6D6;
    padding: 10px;
    border-radius: 5px;
  }

.footer-height {
  height: 300px;
}

.blue-background {
  background-color: #C5CBE3;
}

.eggshell-background {
  background-color: #E3DDC5;
}

  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @media (min-width: 768px) {

    /* Navbar positioning foo */
    .navbar-wrapper {
      margin-top: 20px;
    }
    .navbar-wrapper .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar-wrapper .navbar {
      padding-right: 0;
      padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
      border-radius: 4px;
    }


    .license-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 992px) {
    .license-heading {
      margin-top: 120px;
    }
  }





