<!-- FOOTER -->
<footer class="footer-height">
  <hr>
  <p ><a href="#">Back to top</a></p>
  <p>&copy; 2014-2018 Holly Moody, Developer (hollymoody@charter.net) &middot; <%= link_to "Terms", welcome_license_path %></p>
</footer>
