<!-- FOOTER -->
<footer class="footer-height">
  <hr>
  <p ><a href="#">Back to top</a></p>
  <p>&copy;  2014-2018 <%= link_to "Holly Moody", "http://www.linkedin.com/in/hollycmoody/", target: "_blank" %> &middot; <%= link_to "Terms", welcome_license_path %></p>
</footer>
