<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Online DnD Character Sheet Builder', root_path, class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= (link_to 'My Character Sheets', characters_path) if user_signed_in? %></li>
          </ul>
          <p class="navbar-text pull-right">
          <%= render 'shared/login_items' %>
        </div>
      </div>
    </div>
  </div>
</div>
